@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@import "tailwindcss";

html,body {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  color: #001bb7;
  overflow-x: hidden;
}

@theme{
  --color-primaryColor: #001BB7;
  
}